* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px;
    background-color: #778899;
}
nav a {
    padding: 20px 10px;
    font-size: large;
    color: #D3D3D3;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #696969;
}

.inline-block {
    display: inline-block;
    width: 100%;
}

.img-container {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #C0C0C0;
    background-color:  #DCDCDC;
}

.img-container:hover {
    background-color: #C0C0C0;
}

.img-container:active {
    /* border: 2px solid #778899; */
    background-color: #778899;
}

img {
    width: 200px;
    height: 200px;
}