* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#D3D3D3;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #696969;
}

.gallery {
    display: inline-block;
    width: 100%;
}

.img-container {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #C0C0C0;
    background-color:  #DCDCDC;
}

img {
    width: 200px;
    height: 200px;
}