body {
    background-color: #F5F9FF;
    font-family: "Mulish", sans-serif;
    width: 100wh;
}
.cart {
    width: 516px;
    border-radius: 16px;
    overflow: hidden;
    margin: 50px auto;
    background-color: #fff;
}
.header {
    width: 100%;
    background-color: #133E61;
}
.left {
    float: left;
}
.logo {
    width: 99px;
    height: 96px;
    margin: 38px;
}
.right {
    float: right;
}
.right p {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 94px 57px 48px 0;
    color: #fff;
}
.content {
    margin: 60px;
}
.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}
.text {
    margin-top: 24px;
    opacity: 0.8;
    font-size: 24px;
    line-height: 30px;
}
.link {
    margin-top: 24px;
    opacity: 0.8;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}
.link a {
	text-decoration: none; 
}
.btn button {
    margin-top: 48px;
    background-color: #133E61;
    color: #fff;
    padding: 16px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 60px;
}